.block {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
}
.node {
  position: fixed;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  user-select: none;
  z-index: 2;
}
.nodeDistance {
  position: fixed;
  color: white;
  transform: translate(-50%, -230%);
}
.edge {
  height: 3px;
  background-color: white;
  position: fixed;
}

.arrow {
  display: inline-block;
  font-size: 2rem;
  transform: translateY(-1rem);
}
.distance {
  display: inline-block;
}
