.visualizerBlock {
  height: 70vh;
  overflow: auto;
  border: 1px solid blue;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0 5%;
}
.barWrapper {
  flex: 1;
}
.bar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.number {
  height: 4vh;
}
